.minwidth-wrapper {
  min-width: 1200px;
}
.b_order_main {
  display: flex;
  justify-content: flex-start;
  padding: 60px 60px 20px;
  .b_order_left {
    display: flex;
    flex-direction: column;
    width: 15%;
    a {
      text-decoration: none;
      font-size: 18px;
      color: #333;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      width: 144px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      border: 1px solid #f4ece5;
      background-color: #d4e7f4;
    }
  }
}

.b_order_left > a:nth-child(2) {
  background-color: #7db6df;
}

.b_order_left > a:hover {
  background-color: #7db6df;
}

//main right
.b_order_right {
  width: 85%;
  min-height: 500px;
  form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    p {
      font-size: 22px;
      color: #333;
      font-weight: bold;
      margin: 0;
      padding: 0;
      border-bottom: 3px solid #7db6df;
    }
  }
}

.b_order_right > div {
  border: 1px solid black;
  min-height: 455px;
}

.b_order_right form section {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  align-items: flex-end;
  label {
    border: 1px solid #a3a3a3;
    width: 80px;
    height: 28px;
    background-color: #a3a3a3;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
  }
  input {
    border: 1px solid #000;
    width: 216px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 28px;
    padding-left: 5px;
  }
}

.b_order_title {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 107px;
  column-gap: 10px;
  background-color: #7db6df;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.b_order_order {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 107px;
  column-gap: 10px;
  background-color: #ffffff;
  font-size: 16px;
  color: #172852;
  align-items: center;
  &:hover {
    background-color: #f8f2ed;
  }
}

.b_order_order li {
  font-size: 14px;
  white-space: nowrap;
  /* 不斷行 */
  overflow: hidden;
  /* 隱藏 */
  text-overflow: ellipsis;
  /* 出現省略符號 */
}

.b_order_order li:last-child {
  background-color: #6599e8;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 5px;
}

.b_order_order li:last-child:hover {
  cursor: pointer;
}

//footer
.b_order_footer {
  padding-right: 60px;
}

.b_order_footer ul {
  display: flex;
  justify-content: flex-end;
  li {
    border: 1px solid #000;
    border-left: none;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    &:hover {
      background-color: #000;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.nowpagela {
  background-color: #000 !important;
  color: #fff !important;
}

.b_order_footer ul li:first-child {
  border-left: 1px solid #000;
}

//詳細頁
.b_order_edit {
  width: 750px;
  height: 90%;
  max-height: 1150px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #ffffff;
  overflow-y: auto;
  li {
    font-size: 14px;
  }
}

.b_order_edit > p {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #7db6df;
  position: sticky;
  top: 0;
}

.b_order_order_search {
  /* border: 1px solid red; */
  padding: 20px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.b_order_order_search > input {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 2px solid #000;
}

.b_order_total_status {
  margin: 30px;
  margin-top: 0;
  padding: 15px 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  color: #333;
  font-weight: bold;
  border: 2px solid #000;
}

.b_order_total_status select {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  width: 120px;
  padding-left: 10px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  appearance: none;
  outline: none;
  background: none;
  background-image: url("../img/select.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.b_order_order_information {
  list-style: none;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 30px;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr n-order_8fr;
  row-gap: 20px;
  border: 2px solid #000;
}

.b_order_order_detail {
  list-style: none;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 30px;
  padding: 15px 20px;
  border: 2px solid #000;
}

.b_order_order_detail p {
  margin: 0;
}

.b_order_detail_title {
  margin: 10px;
  padding: 8px 15px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr;
  background-color: #eee;
  margin-bottom: 0;
}

.b_order_order_detail > section {
  border: 2px solid #eee;
  width: 624px;
  height: 160px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.b_order_order_detail > section > ul {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr;
}

.b_order_order_detail > section > ul > li {
  width: 75px;
}

.b_order_detail_content {
  margin: 0px;
  padding: 8px 13px;
  list-style: none;
  align-items: center;
}

.b_order_order_checkout {
  margin: 0px;
  padding: 10px 0;
  padding-left: 400px;
  // width: 400px;
  list-style: none;
  text-align: left;
  .total {
    margin-bottom: 5px;
  }
  .line {
    width: 200px;
    height: 1px;
    margin: 5px 0;
    background-color: #f00;
  }
}

.b_order_editbtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 20px;
}

.b_order_editbtn button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #172852;
  padding: 5px 25px;
  margin: 0;
  border: 1px solid #172852;
  border-radius: 10px;
  cursor: pointer;
}

.b_order_editbtn .b_order_close {
  background-color: #a3a3a3;
  border: 1px solid #a3a3a3;
}

#hide {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b_order_right .-active {
  background: #172852;
}
