@import "../var/var";

.f_mbloginall_wrapper {
    // header 固定背景色
    header {
        background: #00bdd1 !important;
        position: sticky;
    }
}

.f_mbloginall {
    display: flex;
    .mbloginall_img {
        width: 380px;
        height: calc(100vh - 80px);
        overflow: hidden;
        @media screen and (max-width: 768px) {
            width: 0;
        }

        //套用圖片最大寬度與等比置中設定
        img {
            @extend %img-mw;
            width: 380px;
            position: fixed;
            @media screen and (max-width: 768px) {
                width: 0;
            }
        }
    }

    .mbloginall_body {
        //20px 左右置中
        margin: space(2) auto 0;
        display: flex;
        //直向排列
        flex-direction: column;

        //註冊登入切換tab
        .mbloginall_list {
            display: flex;
            width: 500px;
            margin: 0 auto;
            border-bottom: 5px solid $text-color;

            .mbloginall_item {
                width: 50%;
                text-align: center;
                //24px
                font-size: map-get($title, h6);
                //行距1.2
                line-height: $line-height-text;
                //10px 20px
                padding: space(1) space(2);
                color: rgb(0, 189, 209, 0.5);
                cursor: pointer;
            }

            .mbloginall_item.js-m-active {
                color: $text-color;
            }

            .mbloginall_item + .mbloginall_item {
                border-left: 1px solid;
            }
        }

        .register_form,
        .login_form {
            margin-top: space(2);

            @media screen and (max-width: 576px) {
                padding: 0 space(1.5);
            }

            > label {
                display: inline-block;
                width: 30%;
                //24px
                font-size: map-get($title, h6);
                //1.2
                line-height: $line-height-text;
                // 垂直居中對齊
                vertical-align: middle;
                color: $text-color;
            }

            > input {
                width: 70%;
                height: 30px;
                margin: space(1) 0;
                border: 1px solid $btn-color;
                border-radius: 5px;
                outline-color: none;
                vertical-align: middle;

                //以元素類型來選取
                &:last-of-type {
                    display: block;
                    //10px auto 0
                    margin: space(1) auto 0;
                    width: auto;
                    height: auto;
                    //10px 20px
                    padding: space(1) space(2);
                    font-size: 16px;
                    color: $btn-color;
                    border: 1px solid $btn-color;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        background-color: #0080a8;
                        color: #fff;
                    }
                }
                &:focus {
                    border: 1px solid $btn-color;
                    border-radius: 5px;
                    outline-color: #0080a8;
                }
            }
        }

        .forgetpw {
            text-decoration: underline;
            color: #9e9e9e;
            display: block;
            text-align: right;

            @media screen and (max-width: 576px) {
                text-align: center;
                margin: space(3);
            }
        }

        .loginOther1 p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            font-size: map-get($title, h6);
            color: $text-color;
            margin: space(5) auto;

            &::before,
            &::after {
                flex-grow: 1;
                height: 2px;
                content: "";
                background-color: #0080a8;
                position: relative;
                top: 0.8em;
                margin: 0 space(1);
            }
        }

        .loginOther2 {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                text-align: center;
                margin: space(2) auto;
            }

            .loginFB {
                border-color: #13637c;
                border-width: 2px;
                border-style: solid;
                border-radius: 3px;
                padding: space(0.3);
                // background-color: #1778F2;
                cursor: pointer;

                &:hover {
                    background-color: #0080a8;
                    color: #fff;
                }

                a {
                    color: $text-color;
                    width: 180px;
                    font-size: 20px;

                    &::before {
                        content: url(../../img/facebookicon.png);
                        vertical-align: middle;
                    }
                }

                @media screen and (max-width: 576px) {
                    margin: space(1.5);
                }
            }

            .loginLine {
                border-color: #13637c;
                border-width: 2px;
                border-style: solid;
                border-radius: 3px;
                padding: space(0.3);
                cursor: pointer;

                &:hover {
                    background-color: #0080a8;
                    color: #fff;
                }

                a {
                    color: $text-color;
                    width: 180px;
                    font-size: 20px;

                    &::before {
                        content: url(../../img/googleicon.png);
                        vertical-align: middle;
                    }
                }

                @media screen and (max-width: 576px) {
                    margin: space(1.5);
                }
            }
        }
    }
}
