@keyframes scrollMarkMove {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: translate(0, 10px);
        opacity: 0.6;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

//

.index-wrapper {
    background-color: #edf9fb;
    main {
        // 側邊購票
        .ticket-side-link {
            position: fixed;
            right: 0;
            bottom: 10px;
            z-index: 1000;
            width: 120px;

            a {
                cursor: pointer;
                display: block;
                transition: opacity 0.2s;
                &:hover {
                    opacity: 0.9;
                }
                img {
                    width: 100%;
                }
            }
        }

        // section-背景影片
        .topVisualWrap {
            overflow: hidden;
            width: 100%;
            min-height: 530px;
            background: #000;
            position: relative;
            .movie-content {
                z-index: 0;
                position: absolute;
                width: auto;
                height: 723px;
                left: 0;
                top: 0;
            }
            span.bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 723px;
                background-color: #007481;
                opacity: 0.3;
                z-index: 1;
            }
            .top-container {
                text-align: center;
                width: 480px;
                height: 445px;
                position: absolute;
                // background-color: blue;
                z-index: 2;
                left: 0;
                right: 0;
                bottom: 0;
                top: 80px;
                margin: auto;
                h1 {
                    position: relative;
                    margin-bottom: 24px;
                    &::after {
                        content: "";
                        display: block;
                        width: 220px;
                        height: 1.5px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 170px;
                    }
                    img {
                        // margin: 0 auto;
                        // display: block;
                        height: 150px;
                    }
                }
                h2 {
                    font-size: 24px;
                    font-weight: 400;
                    color: aliceblue;
                    margin-bottom: 85px;
                }
                .scroll-box {
                    display: flex;
                    flex-direction: column;
                    animation: scrollMarkMove 2s infinite;
                    a {
                        color: aliceblue;
                        font-size: 18px;
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }
        // section 天氣與營業時間
        .weather-time-wrap {
            margin: 100px 0px 130px 0px;
            .container {
                // border: 1px solid red;
                max-width: 1100px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .weather {
                    display: flex;
                    justify-content: center;
                    .weather1{
                        display: flex;
                        flex-direction: column;
                        background-color: #afc;
                    }
                    .weather2{
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(226, 130, 236);
                    }
                }
                .opentime {
                    // border: 1px solid black;
                    width: 530px;
                    padding: 50px 90px 30px 90px;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        height: 1.5px;
                        width: 100%;
                        background-color: #00bdd1;
                        position: absolute;
                        left: 0;
                        top: 240px;
                    }
                    h3 {
                        font-size: 30px;
                        color: #00bdd1;
                        margin-bottom: 40px;
                    }
                    .middle {
                        font-size: 20px;
                        color: #5c9fb9;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 70px;
                        .week {
                            // border: 1px solid;
                        }
                        .detail-time {
                            // border: 1px solid;
                        }
                    }
                    .notice {
                        font-size: 14px;
                        color: #a6a6a6;
                    }
                    .deco {
                        img {
                            position: absolute;
                            top: 90px;
                            left: -30px;
                        }
                    }
                }
            }
        }
        // section 動物介紹
        .intro {
            margin-bottom: 130px;
            .container {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: rgb(255, 255, 255);
                max-width: 1100px;
                margin: 0 auto;
                .top {
                    // border: 1px solid;
                    display: flex;
                    .text {
                        text-align: center;
                        width: 40%;
                        padding: 30px;
                        // border: 1px solid red;
                        img {
                            width: 60px;
                        }
                        h2 {
                            color: #46ccdb;
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 18px;
                        }
                        p {
                            color: #00bdd1;
                            font-size: 15px;
                        }
                    }
                    .pic {
                        width: 60%;
                        // border: 1px solid red;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .second {
                    display: flex;
                    // border: 1px solid;
                    .text {
                        text-align: center;
                        width: 40%;
                        padding: 30px;
                        // border: 1px solid red;
                        img {
                            width: 60px;
                        }
                        h2 {
                            color: #46ccdb;
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 18px;
                        }
                        p {
                            color: #00bdd1;
                            font-size: 15px;
                        }
                    }
                    .pic {
                        width: 60%;
                        // border: 1px solid red;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
        // section 最新消息
        .news {
            margin-bottom: 250px;
            .container {
                max-width: 1100px;
                margin: 0 auto;
                // border: 1px solid red;
                .news_title {
                    position: relative;
                    margin-bottom: 140px;
                    // border: 1px solid red;
                    h3 {
                        color: #00bdd1;
                        font-size: 30px;
                    }
                    p {
                        color: #5c9fb9;
                        font-size: 18px;
                        &::after {
                            content: "";
                            display: block;
                            height: 1.5px;
                            width: 600px;
                            background-color: #00bdd1;
                            position: absolute;
                            top: 100px;
                            left: -90px;
                        }
                    }
                    .deco {
                        img {
                            transform: rotate(90deg);
                            position: absolute;
                            top: -220px;
                            left: 630px;
                            z-index: 1;
                        }
                    }
                }
                .news_row {
                    display: flex;
                    justify-content: space-between;
                    li {
                        width: calc(33.33% - 20px);
                        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                        a {
                            position: relative;
                            display: block;
                            height: 300px;
                            transition: all 0.5s;
                            overflow: hidden;
                            &:hover {
                                opacity: 0.8;
                                img {
                                    transform: scale(1.5);
                                }
                            }
                            &::after {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.4);
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                transition: all 0.5s;
                            }
                            .news_text {
                                color: #fff;
                                position: absolute;
                                top: 200px;
                                left: 20px;
                                z-index: 1;
                                h4 {
                                    font-size: 20px;
                                }
                                p {
                                    // border: 1px solid red;
                                    width: 272px;
                                    font-size: 15px;
                                    // 文字超過2行顯示...
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2; //行數
                                    -webkit-box-orient: vertical;
                                    white-space: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
        // section 功能卡片
        .function_card {
            margin-bottom: 50px;
            .container {
                display: flex;
                position: relative;
                justify-content: space-between;
                padding: 0 80px;
                max-width: 1100px;
                margin: 0 auto;
                background-color: rgb(255, 255, 255);
                h4 {
                    color: #46ccdb;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                p {
                    color: #9c9c9c;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                .deco {
                    img {
                        width: 295px;
                        position: absolute;
                        top: -170px;
                        left: -20px;
                    }
                }
                .booking_card {
                    width: 400px;
                    height: 450px;
                    padding: 30px 40px;
                    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
                    .btn_booking {
                        text-align: center;
                        margin-top: 80px;
                        a {
                            cursor: pointer;
                            transition: all 0.5s;
                            display: inline-block;
                            width: 100px;
                            line-height: 35px;
                            border: 2px solid #007481;
                            background-color: #fff;
                            border-radius: 5px;
                            font-size: 14px;
                            color: #007481;
                            text-align: center;
                            box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
                            &:hover {
                                background-color: #007481;
                                color: #fff;
                            }
                        }
                    }
                }
                .map_card {
                    width: 400px;
                    height: 450px;
                    padding: 30px 40px;
                    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
                    p.title {
                    }
                    form {
                        // text-align: center;
                        input.input_add {
                            background: none;
                            border: none;
                            border-bottom: 2px solid #46ccdb;
                            width: 100%;
                            margin: 20px 0 30px 0;
                            font-size: 14px;
                        }
                        input.btn_map {
                            display: block;
                            width: 100px;
                            line-height: 35px;
                            padding: 0;
                            background-color: #fff;
                            border: 2px solid #007481;
                            border-radius: 5px;
                            font-size: 14px;
                            color: #007481;
                            margin: 35px auto 0 auto;
                            box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
                            cursor: pointer;
                            transition: all 0.5s;
                            &:hover {
                                background-color: #007481;
                                color: #fff;
                            }
                        }
                    }
                    p.address {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
