@import '../var/var';

* {
    box-sizing: border-box;
}

.mb_loginall {
    max-width: 100%;
    display: flex;
    background-color: #EDF9FB;
    .mblogin_img{
        width: 380px;
        height: calc(100vh - 80px);
        overflow: hidden;
        img {
            @extend %img-mw;
        }
    }
    .mbloginall_container {
        width: 500px;
        margin: space(2) auto 0;
    }
    .mbloginall_list {
        display: flex;
        justify-content: space-around;
        border-bottom: 5px solid $text-color;

    }
    .mblogin , .mbsignup {
        width: calc(100% / 3);
        text-align: center;
        font-size: map-get($title, h6);
        line-height: $line-height-text;
        padding: space(1) space(2);
        color: rgb(0, 189, 209, .5);
        cursor: pointer;
    }
}