@mixin mobile {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}

.night-wrapper {
    background-color: #edf9fb;
    main {
        overflow-x: hidden;
        .title {
            background-image: url("../img/ticket_title.jpg");
            height: 100vh;
            background-size: cover;
            background-position: 50% 50%;
            background-attachment: fixed;
            h2 {
                font-size: 36px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                line-height: 100vh;
            }
        }
        .tab {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 60px 0 28px 0;
            li {
                margin: 0 30px;
                a {
                    color: rgb(0, 189, 209, 0.3);
                    display: block;
                    i {
                        font-size: 36px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
            li.active,
            li:hover {
                a {
                    color: #00bdd1;
                }
            }
        }

        .content-wrapper {
            position: relative;
            padding-bottom: 200px;
            .container {
                max-width: 1100px;
                margin: 0 auto;
                @include mobile {
                    padding: 0 15px;
                }
                h2 {
                    color: #00bdd1;
                    font-size: 24px;
                    text-align: center;
                    padding: 30px 0;
                }
            }

            // 裝飾
            .deco {
                img {
                    position: absolute;
                }
                .nig-fish {
                    width: 450px;
                    top: 80px;
                    left: 900px;
                    @include mobile {
                        width: 150px;
                        top: 60px;
                        left: 250px;
                    }
                }
                .nig-grass {
                    width: 150px;
                    top: 520px;
                    left: 30px;
                    @include mobile {
                        width: 40px;
                        top: 540px;
                        left: 10px;
                    }
                }
                .nig-deco {
                    height: 100px;
                    top: 850px;
                    left: -50px;
                    @include mobile {
                        height: 50px;
                        top: 620px;
                        left: -40px;
                    }
                }
            }
        }
    }
}

// 日曆!!!!!!
.night-wrapper {
    // 日曆顏色說明
    .state_color_list {
        display: flex;
        padding: 10px 150px;
        @include mobile {
            padding: 10px 0;
        }
        & > div {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .active_color_item {
            .circle {
                background-color: green;
            }
        }
        .full_color_item {
            .circle {
                background-color: red;
            }
        }
    }

    .b_area_calendar {
        margin: 0 auto;
        border: 3px solid #0080a8;
        width: 800px;
        text-align: center;
        @include mobile {
            width: 100%;
        }
        .date_title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            i {
                color: #00bdd1;
                font-size: 18px;
            }
            h1 {
                font-size: 28px;
                margin: 0 50px;
                color: #797979;
                @include mobile {
                    font-size: 20px;
                }
            }
            button {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                background-color: #fff;
                cursor: pointer;
            }
        }

        .b_area_weekDay,
        .b_area_week {
            display: flex;
            border-bottom: 1px solid #00bdd1;
        }
        .b_area_weekDay > div {
            flex: 1 1 0%;
            line-height: 30px;
        }
        .b_area_week {
            /*border-right: 1px solid #00bdd1;*/
            &:last-child {
                border-bottom: none;
            }
        }
        .b_area_week > div {
            cursor: pointer;
            position: relative;
            flex: 1 1 0%;
            height: 90px;
            line-height: 30px;
            border-left: 1px solid #00bdd1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:first-child {
                border-left: none;
            }
            @include mobile {
                margin: 0;
                height: 50px;
                display: block;
            }
        }
        .b_area_week > div:before {
            position: absolute;
            content: attr(data-date);
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: block;
            width: 30px;
        }
        .b_area_booking_status {
            margin-top: 30px;
            @include mobile {
                display: none;
            }
        }

        .b_area_circle_status {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: green;
            @include mobile {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 10px;
            }
        }

        .b_area_today {
            color: #333;
            background-color: #94d8e5;
        }

        .b_area_other {
            color: #bbb;
            background-color: #ddd;
            .b_area_circle_status {
                background-color: #b9b9b9;
            }
        }
    }
}

// 區域彈窗

.night-wrapper {
    .modal {
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: rgb(0, 0, 0, 0.7);
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding-top: 20px;
        @include mobile {
            margin: 0;
        }
        .modal-content {
            margin: 0 auto;
            border-radius: 5px;
            overflow: hidden;
            width: 1080px;
            background-color: #dbf5f8;
            text-align: center;
            @include mobile {
                width: 320px;
            }
            .date {
                position: relative;
                font-size: 18px;
                line-height: 50px;
                font-weight: 700;
                color: #00bdd1;
                background-color: #b4edf6;
                margin-bottom: 24px;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    i {
                        line-height: 50px;
                        padding: 0 16px;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }

                span:hover {
                    opacity: 0.6;
                }
            }
            h4 {
                font-size: 20px;
                color: #00bdd1;
            }
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 10px;
                padding: 0 30px;
                @include mobile {
                    display: block;
                    padding: 0 15px;
                }
                li {
                    width: 315px;
                    overflow: hidden;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    @include mobile {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    a {
                        display: block;
                        height: 100%;
                        img {
                            display: block;
                            width: 100%;
                            height: 120px;
                            object-fit: cover;
                            object-position: 50% 70%;
                            @include mobile {
                                margin: 0;
                            }
                        }
                        .ticket-bottom {
                            height: 60px;
                            background-color: #fff;
                            h4 {
                                font-size: 18px;
                                color: #0080a8;
                            }
                            p {
                                font-size: 14px;
                                color: #9e9e9e;
                            }
                        }
                    }
                }
            }
        }
    }
    // Vue tansition樣式
    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;
    }

    .v-enter,
    .v-leave-to {
        opacity: 0;
    }
}
