.cart_wrapper {
  background-color: #EDF9FB;
  height: 100%;
  padding-bottom: 10rem;
}

.cart_wrapper .cart_main {
  width: 1200px;
  margin: 0 auto;
}

.cart_wrapper .cart_main .cart_anv {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5rem 0;
}

.cart_wrapper .cart_main .cart_item {
  width: 33.3%;
  color: #707070;
  text-align: center;
  line-height: 50px;
  border-bottom: 3px solid rgba(0, 189, 209, 0.5);
}

.cart_wrapper .cart_main .cart_round {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(0, 189, 209, 0.5);
  color: #fff;
  line-height: 30px;
}

.cart_wrapper .cart_main .cartSelected {
  color: #00BDD1;
  border-bottom: 3px solid #00BDD1;
}

.cart_wrapper .cart_main .cartSelected .cart_round {
  background-color: #00BDD1;
  color: #fff;
}

.cart_wrapper .cart_main .cart_contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content {
  width: 65%;
  background-color: #fff;
  margin-right: 3rem;
  text-align: center;
  color: #707070;
  border: 1px solid #00BDD1;
  border-collapse: separate;
  border-radius: 5px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .contentTitle {
  font-size: 16px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content a, .cart_wrapper .cart_main .cart_contentWrapper .cart_content button {
  color: #707070;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content th, .cart_wrapper .cart_main .cart_contentWrapper .cart_content td {
  vertical-align: middle;
  padding: 6px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content td {
  border-top: 1px solid #00BDD1;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup img {
  width: 100px;
  border-radius: 5px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .ticketType {
  text-align: left;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .cart_quantityInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .quantity:focus {
  outline: 0;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup button {
  background-color: #fff;
  border: 1px solid #00BDD1;
  cursor: pointer;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .minus {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .plus {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup input::-webkit-outer-spin-button,
.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup input[type=number] {
  -moz-appearance: textfield;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup input {
  width: 50px;
  text-align: center;
  border: 1px solid #00BDD1;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .subtotal {
  width: 11rem;
  font-weight: 600;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_content .ticketGroup .deleteButton {
  font-size: 2.5rem;
  border: none;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail {
  width: 25%;
  height: 300px;
  border-radius: 5px;
  background-color: #00BDD1;
  color: #fff;
  padding: 4.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .discountCode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .discountCode .discountCode_box {
  width: 19.9rem;
  height: 2.5rem;
  background-color: #DBF5F8;
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 0.6rem;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .discountCode .discountCode_box:focus {
  outline: 0;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .discountCode .discountCode_btn {
  height: 2.5rem;
  background-color: #DBF5F8;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: 1.5px solid #00BDD1;
  color: #0080A8;
  cursor: pointer;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .line {
  width: 100%;
  height: 0.8px;
  background-color: #fff;
  margin: 0 auto;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .payable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .next {
  background-color: #DBF5F8;
  border-radius: 5px;
}

.cart_wrapper .cart_main .cart_contentWrapper .cart_detail .next a {
  display: block;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #0080A8;
}

.cart_wrapper .cart_main .no_ticket {
  width: 1000px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #00BDD1;
  border-radius: 5px;
}

.cart_wrapper .cart_main .no_ticket .no_ticket_fish {
  width: 12%;
  -webkit-animation: nimo 1s linear infinite;
          animation: nimo 1s linear infinite;
}

@-webkit-keyframes nimo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes nimo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.cart_wrapper .cart_main .no_ticket h3 {
  font-size: 2rem;
  color: #0080A8;
}

.cart_wrapper .cart_main .no_ticket a {
  display: block;
  margin: 1rem auto 0;
  width: 8rem;
  line-height: 2.5rem;
  background-color: #00BDD1;
  border-radius: 5px;
  color: #fff;
}
/*# sourceMappingURL=checkout_cart.css.map */