.cart_wrapper {
    background-color: #edf9fb;
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;

    // header 固定背景色
    header {
        background: #00bdd1 !important;
        position: sticky;
    }
    //

    .cart_main {
        max-width: 1200px;
        margin: 0 auto;

        // 結帳流程進度條區塊
        .cart_anv {
            width: 75%;
            display: flex;
            margin: 0 auto;
            padding: 5rem 0;
        }
        @media screen and (max-width: 575.98px) {
            .cart_anv {
                width: 90%;
            }
        }

        .cart_item {
            width: 33.3%;
            color: #707070;
            text-align: center;
            line-height: 50px;
            border-bottom: 3px solid rgba($color: #00bdd1, $alpha: 0.5);
        }

        .cart_round {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: rgba($color: #00bdd1, $alpha: 0.5);
            color: #fff;
            line-height: 30px;
        }

        .cartSelected {
            .cart_round {
                background-color: #00bdd1;
                color: #fff;
            }

            color: #00bdd1;
            border-bottom: 3px solid #00bdd1;
        }

        // 購物車內容區塊
        .cart_contentWrapper {
            max-width: 1100px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;

            // 內容明細區塊
            .cart_content {
                flex: 1;
                overflow-x: auto;

                @media screen and (max-width: 575.98px) {
                    .cart_table {
                        min-width: 700px;
                    }
                }
                .cart_table {
                    width: 100%;
                    background-color: #fff;
                    text-align: center;
                    color: #707070;
                    border: 1px solid #00bdd1;
                    border-collapse: separate;
                    border-radius: 5px;

                    .contentTitle {
                        font-size: 16px;
                    }
                    a,
                    button {
                        color: #707070;
                    }
                    th,
                    td {
                        vertical-align: middle;
                        padding: 6px;
                    }
                    td {
                        border-top: 1px solid #00bdd1;
                    }
                    .ticketGroup {
                        img {
                            width: 100px;
                            border-radius: 5px;
                        }

                        .ticketType {
                            text-align: left;
                        }

                        // 數量組區塊
                        .cart_quantityInfo {
                            display: flex;
                            justify-content: center;
                        }
                        .quantity:focus {
                            outline: 0;
                        }
                        button {
                            background-color: #fff;
                            border: 1px solid #00bdd1;
                            cursor: pointer;
                        }
                        .minus {
                            border-right: none;
                            border-radius: 5px 0 0 5px;
                        }
                        .plus {
                            border-left: none;
                            border-radius: 0 5px 5px 0;
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        input[type="number"] {
                            -moz-appearance: textfield;
                        }
                        input {
                            width: 50px;
                            text-align: center;
                            border: 1px solid #00bdd1;
                        }
                        .subtotal {
                            // width: 11rem;
                            font-weight: 600;
                        }
                        .deleteButton {
                            font-size: 2.5rem;
                            border: none;
                        }
                    }
                }
            }

            // 購物車總額區塊
            .cart_detail {
                height: 300px;
                border-radius: 5px;
                background-color: #00bdd1;
                color: #fff;
                padding: 4.5rem 3rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .total {
                    display: flex;
                    justify-content: space-between;
                }

                // 折扣碼
                .discountCode {
                    display: flex;

                    .discountCode_box {
                        flex: 1;
                        height: 2.5rem;
                        background-color: #dbf5f8;
                        border-radius: 5px 0 0 5px;
                        border: none;
                        padding: 0.6rem;
                    }
                    .discountCode_box:focus {
                        outline: 0;
                    }
                    .discountCode_btn {
                        height: 2.5rem;
                        background-color: #dbf5f8;
                        border-radius: 0 5px 5px 0;
                        border: none;
                        border-left: 1.5px solid #00bdd1;
                        color: #0080a8;
                        cursor: pointer;
                    }
                }
                .discount {
                    display: flex;
                    justify-content: space-between;
                }

                // 分隔線
                .line {
                    width: 100%;
                    height: 0.8px;
                    background-color: #fff;
                    margin: 0 auto;
                }
                .payable {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.5rem;
                }
                .next {
                    background-color: #dbf5f8;
                    border-radius: 5px;

                    a {
                        display: block;
                        width: 100%;
                        height: 2.5rem;
                        line-height: 2.5rem;
                        text-align: center;
                        color: #0080a8;
                    }
                }
            }

            @media screen and (max-width: 575.98px) {
                .cart_detail {
                    width: 100%;
                }
            }
        }

        // 當購物車裡沒商品的狀態
        .no_ticket {
            width: 85%;
            margin: 0 auto;
            padding: 3rem;
            text-align: center;

            background-color: rgba($color: #ffffff, $alpha: 0.6);
            border: 1px solid #00bdd1;
            border-radius: 5px;

            .no_ticket_fish {
                width: 12%;
                animation: nimo 1s linear infinite;
            }
            @media screen and (max-width: 575.98px) {
                .no_ticket_fish {
                    width: 20%;
                }
            }

            @keyframes nimo {
                0% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(-10deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }

            h3 {
                font-size: 2rem;
                color: #0080a8;
            }
            a {
                display: block;
                margin: 1rem auto 0;
                width: 8rem;
                line-height: 2.5rem;
                background-color: #00bdd1;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
}
