@import '../var/var';

.f_mbforget {
    display: flex;

    .mbforget_img {
        width: 380px;
        height: calc(100vh - 80px);
        overflow: hidden;

        @media screen and (max-width: 768px) {
            width: 0;
        }

        //套用圖片最大寬度與等比置中設定
        img {
            @extend %img-mw;
        }
    }

    .mbforget_body {
        margin: space(2) auto 0;
        display: flex;
        flex-direction: column;

        // 忘記密碼標題
        .mbforgettitle h2 {
            width: 50%;
            text-align: center;
            //24px
            font-size: map-get($title, h6);
            //行距1.2
            line-height: $line-height-text;
            //10px 20px
            padding: space(1) space(2);
            margin: 0 auto;
            color: $text-color;
            border-bottom: 5px solid $text-color;
            
        }

        //忘記密碼表單
        .forget_form {
            margin-top: space(2);
            @media screen and (max-width: 576px) {
                padding: 0 space(1.5);
            }
            
            >label {
                display: inline-block;
                width: 30%;
                //24px
                font-size: map-get($title, h6);
                //1.2
                line-height: $line-height-text;
                // 垂直居中對齊
                vertical-align: middle;
                color: $text-color;
            }
            
            >input {
                width: 70%;
                height: 30px;
                margin: space(1) 0;
                border: 1px solid $btn-color;
                border-radius: 5px;
                outline-color: none;
                vertical-align: middle;
                
                //送出按鈕
                &:nth-last-child(2) {
                    display: block;
                    //10px auto 0
                    margin: space(1) auto 0;
                    width: auto;
                    height: auto;
                    //10px 20px 
                    padding: space(1) space(2);
                    font-size: 16px;
                    color: $btn-color;
                    border: 1px solid $btn-color;
                    background-color: transparent;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #0080A8;
                        color: #fff;
                    }
                }
                
                &:focus {
                    border: 1px solid $btn-color;
                    border-radius: 5px;
                    outline-color: #0080A8;
                }
            }
            
            .linkother{
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 576px) {
                    justify-content: space-between;
                }
            }
            .linkother a{
                display: flex;
                text-decoration: underline;
                color: #9E9E9E;
                margin: space(3) 0;
                @media screen and (max-width: 576px) {
                    text-align: center;
                    margin: space(3) 0;
                }
            }
        }
    
    }
}