@import '../var/var';

.f_member {
    max-width: 100%;
    display: flex;
    background-color: #EDF9FB;

    .member_head {
        width: 380px;
        height: calc(100vh - 80px);
        overflow: hidden;

        @media screen and (max-width: 768px) {
            width: 0;
        }

        img {
            @extend %img-mw;
        }
    }

    .member_body {
        margin: space(2) auto 0;

        .member_list {
            display: flex;
            width: 500px;
            margin: 0 auto;
            border-bottom: 5px solid $text-color;

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 space(1.5);
            }

            .member_item {
                width: calc(100% / 3);
                text-align: center;
                font-size: map-get($title, h6);
                line-height: $line-height-text;
                padding: space(1) space(2);
                color: rgb(0, 189, 209, .5);
                white-space:nowrap;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    padding: space(1) space(1);
                }
            }

            .member_item.js-m-active {
                color: $text-color;
            }

            .member_item+.member_item {
                border-left: 1px solid;
            }
        }

        .member_form {
            margin-top: space(2);

            @media screen and (max-width: 768px) {
                padding: 0 space(1.5);
            }

            label {
                display: inline-block;
                width: 30%;
                font-size: map-get($title, h6);
                line-height: $line-height-text;
                vertical-align: middle;
                color: $text-color;
            }

            input {
                vertical-align: middle;
                width: 70%;
                height: 30px;
                margin: space(1) 0;
                border: 1px solid $btn-color;
                border-radius: 5px;
                outline: none;

                &:last-child {
                    display: block;
                    margin: space(1) auto 0;
                    width: auto;
                    height: auto;
                    padding: 10px 20px;
                    font-size: 16px;
                    color: $btn-color;
                    border: 1px solid $btn-color;
                    border-radius: 5px;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        background-color: #0080A8;
                        color: #fff;
                    }
                }
            }

            .member_box {
                @extend %flex-center;
                width: 200px;
                height: 200px;
                margin: 0 auto space(2);
                overflow: hidden;
                background-image: url(../img/member-pic.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #00BDD1;

                img {
                    @extend %img-mw;
                }
            }

            .member_file {
                display: none;
            }

            .member_choose {
                display: block;
                margin: 0 auto space(2);
                padding: 10px 20px;
                font-size: 16px;
                color: $btn-color;
                border: 1px solid $btn-color;
                border-radius: 5px;
                outline: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: #0080A8;
                    color: #fff;
                }
            }

            .member_forget {
                display: flex;
                justify-content: flex-end;
                color: $link-color;

                &:hover {
                    color: $link-color-hover;
                }
            }

            &:last-child {
                @media screen and (max-width: 576px) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 375px;
                    overflow-x: auto;
                }

                >table {
                    width: 695px;
                    border: 3px solid #00BDD1;

                    thead {
                        tr {
                            position: relative;

                            th {
                                font-size: $font-size;
                            }

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 98%;
                                border: 1px solid #00BDD1;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }

                    tbody {
                        td {
                            font-size: 16px;
                            color: #888;

                            button {
                                padding: 5px 10px;
                                border: 1px solid transparent;
                                border-radius: 5px;
                                outline: none;
                                background-color: $btn-color;
                                color: #fff;
                                cursor: pointer;

                                &:hover {
                                    background-color: #fff;
                                    color: $btn-color;
                                    border: 1px solid $btn-color;
                                }
                            }
                        }
                    }

                    th,
                    td {
                        text-align: center;
                        padding: 10px;
                    }
                }
            }
        }
    }
}