#news_detail main.detail_box .back a {
  display: block;
  text-decoration: none;
}

#news_detail .wrapper, #news_detail main.detail_box img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#news_detail {
  background-color: #EDF9FB;
}

#news_detail .wrapper {
  background-image: url("../img/news-banner1.png");
  background-size: cover;
  height: calc(100vh - 80px);
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  #news_detail .wrapper {
    background-image: url("../img/news-banner1.svg");
    background-size: cover;
  }
}

#news_detail .wrapper > h2 {
  font-size: 40px;
  text-align: center;
  line-height: calc(100vh - 80px);
  color: #fff;
}

#news_detail .bake {
  padding-left: 5%;
  padding: 20px 0 80px 5%;
}

#news_detail .bake a {
  color: #00BDD1;
  position: relative;
}

#news_detail .bake a:nth-child(3) {
  color: #0080A8;
}

#news_detail .bake a:nth-child(2), #news_detail .bake a:nth-child(3) {
  padding-left: 15px;
}

#news_detail .bake a:nth-child(1)::before {
  content: '';
  position: absolute;
  left: 67px;
  top: 1px;
  border-right: 1px solid black;
  width: 8px;
  height: 16px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#news_detail .bake a:nth-child(2)::before {
  content: '';
  position: absolute;
  left: 83px;
  top: 1px;
  border-right: 1px solid black;
  width: 8px;
  height: 16px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#news_detail main.detail_box {
  max-width: 1200px;
  margin: 0 auto;
}

#news_detail main.detail_box .text_area h6 {
  margin: 20px 0;
  font-size: 18px;
}

#news_detail main.detail_box .text_area h5 {
  font-size: 28px;
  color: #0080A8;
  position: relative;
}

#news_detail main.detail_box .text_area h5::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 50px;
  border-bottom: 1px solid #00BDD1;
  width: 1200px;
  height: 0px;
}

@media screen and (max-width: 768px) {
  #news_detail main.detail_box .text_area h5::before {
    width: 100%;
  }
}

#news_detail main.detail_box .text_area p {
  font-size: 20px;
  color: #5C9FB9;
}

#news_detail main.detail_box .text_area p:first-of-type {
  margin: 10px 0;
}

#news_detail main.detail_box .text_area p:nth-of-type(2), #news_detail main.detail_box .text_area p:nth-of-type(3) {
  margin-top: 40px;
}

#news_detail main.detail_box .back {
  margin: 150px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 768px) {
  #news_detail main.detail_box .back {
    width: 375px;
    margin: 50px 0 0;
  }
}

#news_detail main.detail_box .back a {
  outline: 3px solid #00BDD1;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: #00BDD1;
  font-size: 20px;
}

#news_detail main.detail_box .back a:hover {
  color: white;
  background-color: #0080A8;
}

@media screen and (max-width: 768px) {
  #news_detail main.detail_box .back a {
    margin-bottom: 30px;
  }
}

#news_detail main.detail_box .back img {
  margin-bottom: 30px;
  -webkit-animation: up 3s linear infinite;
          animation: up 3s linear infinite;
}

#news_detail main.detail_box .back img:last-child {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media screen and (max-width: 768px) {
  #news_detail main.detail_box .back img {
    width: 30%;
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(30px) rotateY(0);
            transform: translateY(30px) rotateY(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(30px) rotateY(0);
            transform: translateY(30px) rotateY(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=f_news_detail.css.map */