@import '../var/var';

* {
    box-sizing: border-box;
}
#news{

    background-color: #EDF9FB;

    .wrapper{
        
        background-image:url('../img/news-banner1.png') ;
        background-size: cover;
        @extend %img-mw ;
        height: calc(100vh - 80px);
        
        >h2{
            font-size: map-get($title, h2);
            text-align: center;
            line-height: calc(100vh - 80px);
            color: #fff;

        }
    }
    main.news_box {
        max-width: $container-width;
        margin: space(4) auto;
      
        >.tab{
            display: flex;
            justify-content: center;

            .tab_item{
                text-align: center;
                font-size: map-get($title, h6);
                color: rgb(0, 189, 209, .5);
                cursor: pointer;
                margin-right:space(3) ;
    
                i {
                    font-size: 36px;
                }
                
            }
        }

    }
    
}
