@import '../var/var';

* {
    box-sizing: border-box;
}
#news{

    background-color: #EDF9FB;

    .wrapper{
        
        background-image:url('../img/news-banner1.png') ;
        background-size: cover;
        @extend %img-mw ;
        height: calc(100vh - 80px);
        
        >h2{
            font-size: map-get($title, h2);
            text-align: center;
            line-height: calc(100vh - 80px);
            color: #fff;

        }
    }
    main.news_box {
        
      

     
    
}




