.maintt{
    max-width: 1200px;
    margin: auto;
    scroll-behavior: smooth;
    @media screen and (max-width: 575.98px){
        width: 100%;
    }
}

#app{
    .fishh{
        width: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
    }
    .fishh:hover{
        
    }
}

.traffichead{
    background-color:#EDF9FB;
    // max-width: 1200px;
    display: flex;
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;

    p{
        font-size: 12px;
        color: #a6a6a6;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
        color: #00BDD1;
    }
    h3{
        font-size: 18px;
        color: #0080A8;
    }
    h4{
        font-size: 16px;
        color: #5C9FB9;
    }
    .fa-solid{
        color: #00BDD1;
        font-size: 24px;
        cursor: pointer;
    }
    
    .fa-solid:hover{
        color: #00BDD1;
        filter: saturate(130%);
    }
    img{
        width: 100%;
    }
    @media screen and (max-width: 575.98px){
        h2{
            font-size: 18px;
        }
        width: 100%;
    }

}


.transportation_banner{
    background-image: url('../img/hongkong-ocean-park-1.jpg');
    width: 100%;
    height: calc(100vh - 80px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    h1{
        text-align: center;
        line-height: calc(100vh - 80px);
        color: white;
        font-size: 40px;
    }
    @media screen and (max-width: 575.98px){
        h1{
            font-size: 24px;
            // line-height: calc(100vh - 300px);
        }
        width: 100%;
        background-position: center;
        // height: calc(100vh - 300px);
    }

}

// traffic   n a v ------  
.traffic_nav{
    display: flex;
    // justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;
    .fa-solid{
        text-align: center;
        margin: 80px 0;
        h2{
            margin-top: 10px;
        }
    }
    .icon{
        margin-bottom: 10px;
    }
    @media screen and (max-width: 575.98px){
        width: 100%;
    }
}

// time
.traffic_time{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: space-between;
    .time_contant{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    @media screen and (max-width: 575.98px){
        .time_contant{
            align-items: center;
        }
        width: 100%;
        padding: 0 15px;
    }
}



.traffic_dashed{
    content: "";
    display: block;
    border-bottom: 2px black dashed;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    .dashed-fish{

        @media screen and (max-width: 575.98px){
            display: none;
        }
    }
}



// start map
#traffic_address{
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 0;
    border-bottom: 2px solid #0080A8;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #EDF9FB;
    
}


#traffic_send{
    width: 100px;
	height: 30px;
	background-color: #EDF9FB;
	color: #00BDD1;
	border: 1px solid #0080A8;
    cursor: pointer;
}

.traffic_map_wapper{
    margin-top: 100px;
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 575.98px){
        width: 100%;
        // padding: 0 15px;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
    .traffic_map{
        margin: 0 auto;
        margin-bottom: 120px;
        .traffic_address{
            background-color: #B4EDF6;
            height: 50px;      
            h2{
                text-align: center;
                line-height: 50px;
            }
        }
        @media screen and (max-width: 575.98px){
            iframe{
                width: 100%;
            }
            width: 100%;
            
        }
    }
    
}

// -------take the train-----
.train_wapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    position: relative;
    .fa-train , .fa-car , .fa-bus{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .train-content{
        background-color: #DBF5F8;
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .content{
            width: 1100px;
            margin: auto;
            margin-top: 40px;
            
        }
        h3{
            border-bottom:1px solid #00BDD1;
        }
        @keyframes upup{
            0%{
                transform: translateY(-35%);
            }
            50%{
                transform: translateY(0%);
            }
            100%{
                transform: translateY(-35%);
            }
        }
        .seashell{
            z-index: 1;
            animation:  upup 5000ms ease-in-out infinite;
        }  
    }
    .wave{
        width: 100%;
        position: absolute;
        bottom: -5%;
    }
    @media screen and (max-width: 575.98px){
        width: 100%;
        .train-content{
            width: 100%;
            padding: 0 15px;
            .content{
                width: 100%;
                h4{
                    margin-bottom: 10px;

                }
            }
            .seashell{
                animation:none;
                img{
                    width: 100px;
                }
            }
        }
        .wave{
            display: none;
        }
    }
}







// ----drive ----- car---

.train_wapper{
    .car-content{
        background-color: #DBF5F8;
            height: 520px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            .carcontent{
                width: 1100px;
                margin: auto;
                margin-top: 40px;
                h4{
                    // line-height: 2;
                }
                .car_three{
                    .three-end{
                        margin-bottom: 20px;
                    }

                }
            }
            @keyframes rightleft{
                0%{
                    transform: translate(-10%,-5%);
                }
                50%{
                    transform: translate(20%,-10%);
                }
                100%{
                    transform: translate(30%,5%);
                }  
            }
            .jellyfish{
                position: absolute;
                right: 60%;
                bottom: -25%;
                z-index: 1;
                // animation:  rightleft 8000ms ease-out infinite;
            }
            h3{
                border-bottom:1px solid #00BDD1;
            }
            @keyframes carpice{
                0%{
                    transform: translate(-5%,-15%);
                }
                50%{
                    transform: translate(-20%,-30%);
                }
                75%{
                    transform: translate(-55%,-15%);
                }
                100%{
                    transform: translate(-75%,-25%);
                } 
            }
            .carpice{
                position: absolute;
                right: -10%;
                display: flex;
                flex-direction: column;
                z-index: 1;
                // animation:  carpice 8000ms linear infinite;
                
            }
            
    }
    @media screen and (max-width: 575.98px){
        .car-content{
            width: 100%;
            padding: 0 15px;
            height: 600px;
            .carcontent{
                width: 100%;
                h4{
                    margin-bottom: -5px;
                }
            }
            .carpice{
                display: none;
            }
        }
        
    }
}


// BUS
.train_wapper {

    .bus-content{
        background-color: #DBF5F8;
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .content{
            // width: 1000px;
            margin: auto;
            margin-top: 40px;
            border-collapse: collapse;
            text-align: center;
            .table{
                margin-bottom: 60px;
            }
        }
        table{
            border: 1px solid #00BDD1;
            width: 1000px;
            text-align: center;
            border-collapse: collapse;
            margin-bottom: 60px;
            margin: auto;
            .bustitle , th , td{
                border: 1px solid #00BDD1;
                h2{
                    color: white;
                }
            }
            .bustitle{
                background-color: #00BDD1;
                color: white;
            }
        }
        @keyframes star{
            0%{
                background-position-x: 0;
            }
            100%{
                background-position-x: 50px;
            }
           
        }
        .star{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 90%;
            background-image:  url('../img/073-01.png');
            background-repeat: no-repeat;
            // animation:  star 10s linear infinite;
            
        }   
    }
    @media screen and (max-width: 575.98px){
        .bus-content{
            width: 100%;
            padding: 0 15px;
            .content{
                width: 100%;
                .table{
                    overflow-x: auto;
                }
            }
            table{
                width: 100%;
                h3,h2{
                    font-size: 16px;
                }
                
            }
            .star{
                animation: none;
            }
        }
        
    }
    
    
}

