@mixin mobile {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}

footer {
    padding: 15px 0 15px 0;
    background-color: #dbf5f8;
    text-align: center;
    .footer_wrapper {
        @include mobile {
            padding: 0 15px;
        }
        .follow_icon {
            display: flex;
            justify-content: center;
            a {
                i {
                    font-size: 20px;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}
