@mixin mobile {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}

header {
    background: #00bdd1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);

    .nav-wrapper {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo a {
            display: block;
            img {
                height: 60px;
            }
        }

        .menu-wrapper {
            display: flex;
            @include mobile {
                display: none;
            }
            li a {
                padding: 10px;
                display: block;
                color: #eee;
                font-weight: 500;
                font-size: 15px;
            }
            li a.active {
                color: hsl(186, 100%, 30%);
            }
            li a:hover {
                color: hsl(186, 100%, 30%);
            }
        }
    }
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }
}
