<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台-會員管理</title>
    <!-- 初始化css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="minwidth-wrapper">
      <div id="root">
        <!-- 後台header -->
        <header class="b-member_header">
          <div class="b-member_logo">
            <img src="./img/logo.png" alt="" srcset="" />
            <p>kireiumi後臺管理</p>
          </div>
          <div @click="log_out" class="b-member_logout">
            <p>帳號登出</p>
            <img src="./img/log-out.png" alt="" srcset="" />
          </div>
        </header>

        <main class="b_member_main">
          <!-- main left -->
          <div class="b_member_left">
            <a v-for="btn in mainbtn" :href="btn.url">{{btn.name}}</a>
          </div>

          <div class="b_member_right">
            <form action="" method="get" id="">
              <p>會員管理</p>

              <section>
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="以會員編號查詢"
                  v-model="member_number"
                />
                <label
                  for="search"
                  :class="{'-active':member_number}"
                  @click="lookfor"
                  >搜尋</label
                >
              </section>
            </form>

            <div>
              <ul class="b_member_title">
                <li v-for="title in titles">{{title}}</li>
                <li></li>
              </ul>

              <ul v-for="(member,key) in members" class="b_member_member">
                <li>{{member.member_id}}</li>
                <li>{{member.account}}</li>
                <li>{{member.name}}</li>
                <li>{{member.phone}}</li>

                <li @click="edit(key)">查看</li>
              </ul>
            </div>
          </div>
        </main>

        <!-- footer page -->
        <footer class="b_member_footer">
          <ul>
            <li
              v-for="page in pages"
              @click="showMdata(page.link)"
              v-bind:class="{nowpagela:page.page == nowpage}"
            >
              {{page.page}}
            </li>
          </ul>
        </footer>

        <div class="b-member_edit" v-if="current_edit !== null">
          <p>編輯與查看</p>

          <ul class="b-member_edit-member">
            <li>編號:{{members[current_edit].member_id}}</li>
            <li>帳號:{{members[current_edit].account}}</li>
            <li>手機:{{members[current_edit].phone}}</li>
            <li>姓名:{{members[current_edit].name}}</li>
            <li>折扣碼:cd001</li>
          </ul>

          <div class="b-member_editbtn">
            <button class="n-member_close" @click="f_close">關閉</button>
          </div>
        </div>

        <div id="hide" v-if="current_edit !== null"></div>
    </div>
    <!-- 引入js -->
    <script src="js/vue.min.js"></script>
    <script src="js/b_member.min.js"></script>
  </body>
</html>
