<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台-消息管理</title>
    <!-- 引入外部文件 -->
    <!-- 通用的css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- fontawesome v5.15.4 -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- --------------------CSS與JS分隔線---------------------------------- -->
  </head>
  <body>
    <div class="minwidth-wrapper">
      <div id="root">
        <!-- 後台header -->
        <header class="b-member_header">
          <div class="b-member_logo">
            <img src="./img/logo.png" alt="" srcset="" />
            <p>kireiumi後臺管理</p>
          </div>
          <div @click="log_out" class="b-member_logout">
            <p>帳號登出</p>
            <img src="./img/log-out.png" alt="" srcset="" />
          </div>
        </header>

        <main class="b_news_main">
          <div class="b_news_left">
            <a v-for="btn in mainbtn" :href="btn.url">{{btn.name}}</a>
          </div>

          <div class="b_news_right">
            <form action="" method="get" id="">
              <p>消息管理</p>
              <select @change="newsType($event)">
                <option value="0">文章分類</option>
                <option value="1">公告</option>
                <option value="2">活動</option>
              </select>

              <div class="b_news_newsbtn">
                <button class="b_news_add" @click="new_add()" type="button">
                  新增
                </button>
              </div>

              <section>
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="以文章編號查詢"
                  v-model="news_number"
                />
                <label
                  for="search"
                  :class="{'-active':news_number}"
                  @click="lookfor"
                  >搜尋</label
                >
              </section>
            </form>

            <div>
              <ul class="b_news_title">
                <li v-for="title in titles">{{title}}</li>
                <li></li>
              </ul>

              <ul v-for="(news,key) in newss" class="b_news_news">
                <li>{{news.id}}</li>
                <li>{{news.create_date}}</li>
                <li>{{n_sort_list[news.news_style]}}</li>
                <li>{{news.News_title}}</li>
                <li>{{on_off_list[news.News_status]}}</li>
                <li>{{news.News_update}}</li>
                <li @click="edit(key)">編輯與查看</li>
              </ul>
            </div>
          </div>
        </main>

        <footer class="b_news_footer">
          <ul>
            <li
              v-for="page in pages"
              v-on:click="showNdata(page.link)"
              v-bind:class="{nowpagela:page.page == nowpage}"
            >
              {{page.page}}
            </li>
          </ul>
        </footer>

        <!-- 編輯區 -->
        <div class="b_news_edit" v-if="current_edit !== null">
          <p>編輯與查看</p>

          <div class="b_news_news_mid">
            <ul>
              <li>
                <section>
                  文章分類:
                  <select name="status" id="" v-model="n_sort">
                    <option value="0">公告</option>
                    <option value="1">活動</option>
                  </select>
                </section>

                <section>
                  上下架:
                  <select name="status" id="" v-model="on_off">
                    <option value="0">下架</option>
                    <option value="1">上架</option>
                  </select>
                </section>
              </li>

              <li>
                <label for="">標題:</label>
                <input type="text" v-model="n_main_title" />
              </li>

              <li>
                <label for="">內文:</label>
                <textarea name="" id="" v-model="n_main_content"></textarea>
              </li>
            </ul>
          </div>

          <ul class="b_news_img">
            <li>
              <label for="">圖片:</label>
              <input type="file" id="b_preview" @change="b_previewImg" />
            </li>
            <li class="b_img">
              <img id="iimage" :src="news_image" />
            </li>
          </ul>

          <div class="b_news_editbtn">
            <button class="b_news_close" @click="n_close">關閉</button>
            <button class="b_news_save" @click="n_save">儲存</button>
          </div>
        </div>

        <div id="hide" v-if="current_edit !== null"></div>

        <news-add v-if="new_edit" @nclose="closennn"></news-add>
        <double-check v-if="dbcheck" @save="sss" @cancel="ccc"></double-check>
      </div>
    </div>
    <!-- 引入js -->
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/b_news.js"></script>
  </body>
</html>
