<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台-訂單管理</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="minwidth-wrapper">
      <div id="root">
        <!-- 後台header -->
        <header class="b-member_header">
          <div class="b-member_logo">
            <img src="./img/logo.png" alt="" srcset="" />
            <p>kireiumi後臺管理</p>
          </div>
          <div @click="log_out" class="b-member_logout">
            <p>帳號登出</p>
            <img src="./img/log-out.png" alt="" srcset="" />
          </div>
        </header>

        <main class="b_order_main">
          <div class="b_order_left">
            <a v-for="btn in mainbtn" :href="btn.url">{{btn.name}}</a>
          </div>

          <div class="b_order_right">
            <form action="" method="get" id="">
              <p>訂單管理</p>
              <select @change="orderType($event)">
                <option value="0">訂單類型</option>
                <option value="1">門票</option>
                <option value="2">夜宿</option>
              </select>

              <section>
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="以訂單編號查詢"
                  v-model="order_number"
                />
                <label
                  for="search"
                  :class="{'-active':order_number}"
                  @click="lookfor"
                  >搜尋</label
                >
              </section>
            </form>

            <div>
              <ul class="b_order_title">
                <li v-for="title in titles">{{title}}</li>
                <li></li>
              </ul>

              <ul v-for="(order,key) in orders" class="b_order_order">
                <li>{{order.order_id}}</li>
                <li>{{order.email}}</li>
                <li>{{order_type[order.order_type]}}</li>
                <li>{{order.payment_method}}</li>
                <li>{{pay_list[order.payment_status]}}</li>
                <li>{{form_list[order.order_status]}}</li>
                <li>{{order.createdate}}</li>
                <li @click="edit(key)">查看</li>
              </ul>
            </div>
          </div>
        </main>

        <footer class="b_order_footer">
          <ul>
            <li
              v-for="page in pages"
              v-on:click="showOdata(page.link)"
              v-bind:class="{nowpagela:page.page == nowpage}"
            >
              {{page.page}}
            </li>
          </ul>
        </footer>

        <!-- 詳細頁 -->
        <div class="b_order_edit" v-if="current_edit !== null">
          <p>查看</p>

          <div class="b_order_order_search">
            <label for="">訂單編號:</label>
            <input type="text" v-model="select_number" readonly />
          </div>

          <ul class="b_order_total_status">
            <li>
              付款狀態:
              <select name="pay_status" id="" v-model="o_pay" disabled>
                <option value="0">已退款</option>
                <option value="1">已付款</option>
              </select>
            </li>

            <li>
              訂單狀態:
              <select name="order_status" id="" v-model="o_form" disabled>
                <option value="0">已取消</option>
                <option value="1">已確認</option>
              </select>
            </li>
          </ul>

          <ul class="b_order_order_information">
            <li>會員編號: {{orders[current_edit].member_id}}</li>
            <li>會員帳號: {{orders[current_edit].email}}</li>
            <li>姓名: {{orders[current_edit].Name}}</li>
            <li>手機: {{orders[current_edit].phone_number}}</li>
            <li>付款方式: {{orders[current_edit].payment_method}}</li>
            <li>折扣碼: {{orders[current_edit].coupon}}</li>
          </ul>

          <div class="b_order_order_detail">
            <p>訂單商品明細</p>
            <ul class="b_order_detail_title">
              <li v-for="title in order_title">{{title}}</li>
            </ul>

            <section>
              <!-- {{ order_list[0].name }} {{ order_list[current_edit].name }} -->
              <ul v-for="lists in order_list" class="b_order_detail_content">
                <li>{{lists.ticket_role_name}}</li>
                <li>{{lists.overnight_date}}</li>
                <li>{{lists.names}}</li>
                <li>{{lists.Purchase_amount}}</li>
                <li>{{lists.price}}</li>
              </ul>
            </section>

            <ul class="b_order_order_checkout">
              <li class="total">
                商品金額&emsp;&nbsp;:&ensp;${{total_cost}}元
              </li>
              <li>
                折扣碼優惠&nbsp;:&ensp;&nbsp;&nbsp;${{orders[current_edit].coupon_value}}元
              </li>
              <li class="line"></li>

              <li>訂單總金額&nbsp;:&ensp;&nbsp;&nbsp;${{order_cost}}元</li>
            </ul>
          </div>

          <div class="b_order_editbtn">
            <button class="b_order_close" @click="f_close">關閉</button>
          </div>
        </div>

        <div id="hide" v-if="current_edit !== null"></div>
      </div>
    </div>
    <!-- 引入js -->
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/b_order.js"></script>
  </body>
</html>
