<footer>
    <div class="footer_wrapper">
        <!-- wave -->
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>

        <div class="follow_icon">
            <a href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="content">
            <h5>電話：(02)-2712-0589</h5>
            <h5>地址：台北市中山區南京東路三段219號</h5>
            <p>本網站為緯育TibaMe前端設計工程師班第70期學員專題作品，本平台僅供學習、展示之用</p>
        </div>
    </div>
</footer>