<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@@title</title>
<!-- 引入外部文件 -->
<!-- 初始化css -->
<link rel="stylesheet" href="css/reset.css" />
<!-- 通用的css -->
<link rel="stylesheet" href="css/style.css" />
<!-- fontawesome v5.15.4 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

<!-- --------------------CSS與JS分隔線---------------------------------- -->
<!-- 引入jquery -->
<script src="js/jquery.min.js"></script>
<!-- 引入index.js -->
<script src="js/index.min.js"></script>