<header>
  <div class="nav-wrapper container" id="nav">
    <!-- logo -->
    <div class="logo">
      <a href="index.html">
        <img src="img/logo.svg" alt="" />
      </a>
    </div>

    <!-- menu -->
    <ul class="menu-wrapper">
      <li class="menu-item">
        <a class="@@active1" href="news.html">最新消息</a>
      </li>
      <li class="menu-item">
        <a class="@@active2" href="information.html">園區資訊</a>
      </li>
      <li class="menu-item">
        <a class="@@active3" href="traffic.html">交通方式</a>
      </li>
      <li class="menu-item">
        <a class="@@active4" href="ticket.html">夜宿體驗</a>
      </li>
      <li class="menu-item">
        <a class="@@active5" href="fishgame.html">探索海洋</a>
      </li>
      <li class="user-item">
        <a class="@@active6" href="#" @click="member_login()" id="signBtn">
          <i class="fas fa-user">
            <!-- 已登入 -->
            <div v-show="member">
              <i class="fa-solid fa-check"></i>
            </div>
          </i>
        </a>
      </li>
      <li class="user-item">
        <a class="@@active7" href="#" @click="cart_login()">
          <i class="fas fa-shopping-cart">
            <div>{{cartNum}}</div>
          </i>
        </a>
      </li>

    </ul>



    <!-- 漢堡選單icon -->
    <button class="hamburger hamburger--squeeze" :class="{'is-active': toggle}" @click="toggleActive" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <!--漢堡 黑背-->
    <div class="ham-bg"></div>

  </div>
</header>